#!/usr/bin/make -f

PY = $(shell pyversions -d)
PYVER = $(shell pyversions -vd)

DEB_PYTHON_SYSTEM = pycentral

# workaround to force using pythonX.Y inside Scratchbox
# this is a internal variable from /usr/share/cdbs/1/class/python-distutils.mk
cdbs_python_compile_version = $(PYVER)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

# Add here any variable or target overrides you need.

DEB_DH_INSTALL_ARGS := --sourcedir=$(DEB_DESTDIR)
DEB_PYTHON_INSTALL_ARGS_ALL = --no-compile -O0

DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
ifeq ($(DEB_BUILD_ARCH),armel)
export CFLAGS := -Os -mthumb -mfloat-abi=softfp -Wall -Wstrict-prototypes
else
export CFLAGS := -Os -Wall -Wstrict-prototypes
endif

d_dev = debian/tmp
p_dev = python-osso-dev
build/python-osso-dev::
	mkdir -p $(d_dev)/usr/include/python-osso
	cp src/osso.h $(d_dev)/usr/include/python-osso
	mkdir -p $(d_dev)/usr/share/doc/$(p_dev)
	cp examples/test_*.{py,desktop,service} $(d_dev)/usr/share/doc/$(p_dev)
	cp examples/alarm.py $(d_dev)/usr/share/doc/$(p_dev)
	cp -R examples/{application,autosave,device-state,plugin,rpc,statesaving,statusbar,systemnote,timenotification} $(d_dev)/usr/share/doc/$(p_dev)
	cp examples/install_dev_env.sh $(d_dev)/usr/share/doc/$(p_dev)
	find $(d_dev) -name .svn | xargs rm -fr
